/* src/app/components/dashboard/dashboard.component.css */

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; /* Reduce spacing between cards */
    padding: 1rem;
  }

  .balance-container{
    background-color: #FFFBF3;
  }
  
  
  